.botaoPost {
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.botaoGet {
    background-color:red;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.resultado {
    color: black;
    text-align: center;
}

ul {
    list-style-type: none;
}